<h2>5. Read all H3K4me123 bed files </h2>
<p>
    process all the pools and time points for H3K4me123 and put all the points together and color code by the timepoints
</p>
<h3>5.1 Read the K4 files and create the tile matrix for each bed file</h3>
<pre class="r"><code># config file
# set all bed files path in the config File
tile_matrix:
  file_path: [
    "bed/pool1/DJ_Hs_CM_0_K4me123_070122.bed",
    "bed/pool1/DJ_Hs_CM_1_K4me123_070122.bed",
    "bed/pool1/DJ_Hs_CM_2_K4me123_070122.bed",
    "bed/pool1/DJ_Hs_CM_3_K4me123_070122.bed",
    "bed/pool1/DJ_Hs_D6_CD8_K4me123_070122.bed",
    "bed/pool1/DJ_Hs_D7_CD8_K4me123_070122.bed",
    "bed/pool1/DJ_Hs_EM_0_K4me123_070122.bed",
    "bed/pool1/DJ_Hs_EM_1_K4me123_070122.bed",
    "bed/pool1/DJ_Hs_EM_2_K4me123_070122.bed",
    "bed/pool1/DJ_Hs_EM_3_K4me123_070122.bed",
    "bed/pool2/DJ_Hs_CM_0_K4me123_070122.bed",
    "bed/pool2/DJ_Hs_CM_1_K4me123_070122.bed",
    "bed/pool2/DJ_Hs_CM_2_K4me123_070122.bed",
    "bed/pool2/DJ_Hs_CM_3_K4me123_070122.bed",
    "bed/pool2/DJ_Hs_D6_CD8_K4me123_070122.bed",
    "bed/pool2/DJ_Hs_D7_CD8_K4me123_070122.bed",
    "bed/pool2/DJ_Hs_EM_0_K4me123_070122.bed",
    "bed/pool2/DJ_Hs_EM_1_K4me123_070122.bed",
    "bed/pool2/DJ_Hs_EM_2_K4me123_070122.bed",
    "bed/pool2/DJ_Hs_EM_3_K4me123_070122.bed",
  ]        
</code></pre>