<h2>12.&nbsp;Week&nbsp;of&nbsp;23&nbsp;July</h2>
<h3>11.1&nbsp;Overview of weekly tasks</h3>
Apply Seurat’s Weighted Nearest Neighbors (WNN) in R and compare the results to the Python version.
Use WNN to integrate all three features (K4, K27, and RNAPII).
Rerun with a smaller metacell ratio (5) and note any metacells comprised solely of K4 or K27.
From the WNN integration results, zoom in on one cell type and timepoint to identify potential subclusters.
Check on the little tail or separated clusters of single-cell K4/K27 UMAP.
<h3>12.2&nbsp;Seurat WNN integration</h3>
Integration of K4 and K27.
<img src="results/section12/wnnK4K27.png"
     width="500"
     alt="RNAPII UMAP without aggregation">

Integration of K4, K27 and RNAPII.
<img src="results/section12/wnnK4K27RNAPII.png"
     width="500"
     alt="RNAPII UMAP without aggregation">