<h2>28. Week of Dec 10</h2>

<h3>28.1 Meeting Objectives & Tasks</h3>
<div class="summary-box">
    <ul>
        <li>Test different projection methods (e.g., Seurat or the method from Bingjie’s paper) and compare the results.</li>
        <li>Search for the reference data.</li>
    </ul>
</div>

<h3>28.2 Summary of results from K4/K27 aggregation</h3>

<p>In Bingjie’s paper, the Seurat method was used to perform mapping and annotation.</p>

<figure>
    <figcaption><strong>K4:</strong></figcaption>
    <img src="results/section28/seuratmappingK4.png" style="width:600px;" alt="K4 Aggregation Plot">
</figure>

<figure>
    <figcaption><strong>K27:</strong></figcaption>
    <img src="results/section28/seuratmappingK27.png" style="width:600px;" alt="K27 Aggregation Plot">
</figure>

<figure>
    <figcaption><strong>RNAPII:</strong></figcaption>
    <img src="results/section28/seuratmappingRNAPII.png" style="width:600px;" alt="RNAPII Aggregation Plot">
</figure>