<h2>10. &nbsp;Week July 10 </h2>
<h3>10.1&nbsp; Overview of week tasks</h3>
<p>Generate metacells with the SEACell model, processing one sample at a time. (High priority)</p>
<p>Try peakmatrix/small tile size (low priority)</p>

<h3>10.2&nbsp; Umap plot</h3>
<p>
    parameters: <code>n_neighbors = 30</code>, <code>min_dist = 0.1</code>,
    <code>normalize by total</code>, <code>metacell ratio = 10 </code>,
    <code> top selected genes = 20000</code>
</p>

<p> K4</p>
<img src="results/section10/K4_umap_normalize_total_ntop20000nneighbor30_mindist0.1.png" width="500" alt="K4 UMAP plot">
<img src="results/section10/K4verbose_umap_normalize_total_ntop20000nneighbor30_mindist0.1.png" width="500" alt="K4 UMAP plot">

<p> K27</p>
<img src="results/section10/K27_umap_normalize_total_ntop20000nneighbor30_mindist0.1.png" width="500" alt="K27 UMAP plot">
<img src="results/section10/K27verbose_umap_normalize_total_ntop20000nneighbor30_mindist0.1.png" width="500" alt="K27 UMAP plot">

<p> Further testing different metacell ratios: 5 and 3.</p>
<p>
    parameters: <code>n_neighbors = 30</code>, <code>min_dist = 0.1</code>,
    <code>normalize by total</code>, <code>metacell ratio = 5 </code>,
    <code> top selected genes = 20000</code>
</p>

<p>Further testing different tile size for K4</p>