<div id="sample-k4me3-cell-x-50kb-bin" class="section level2">
<h2>1. Samples K4me3: 50kb bin × cell</h2>
<p>First read the BED file and create the tile matrix:</p>
<pre class="r"><code># Using Python 3
# If the tile‑matrix file is provided
python -m bin.genomicspipeline --config <config file path> --matrix_file <matrix file path>
# Else create the tile matrix from the BED file
python -m bin.genomicspipeline --config <config file path>
# The tile‑matrix file will be stored under the results folder        
</code></pre>
</div>