<h2>29. Week of Jan 16</h2>

<h3>29.1 Meeting Objectives & Tasks</h3>
<div class="summary-box">
    <ul>
        <li>Test the atac as the reference data using RNAPII gene score as the query.</li>
        <li>Fix the cca projection issue.</li>
    </ul>
</div>

<h3>29.2 Summary of results from ATAC as the reference data</h3>



<figure>
    <figcaption><strong>RNAPII with imputed gene score:</strong></figcaption>
    <img src="results/section29/atacreferencemappingimputedRNAPII.png" style="width:600px;" alt="RNAPII Aggregation Plot">
</figure>

<figure>
    <figcaption><strong>RNAPII with raw gene score:</strong></figcaption>
    <img src="results/section29/atacreferencemappingrawRNAPII.png" style="width:600px;" alt="RNAPII Aggregation Plot">
</figure>