<h2>15.&nbsp;Week&nbsp;of&nbsp;13&nbsp;August</h2>

<!-- 15.1 ▸ Weekly tasks -->
<h3>15.1&nbsp;Overview of weekly tasks</h3>
Run the SEACell model with a metacell ratio of 4 as a complement.
Use Monocle 3 to infer trajectories and identify specific (differential) marker tile ranges.
Explore machine-learning models for trajectory inference.

<h3>15.2&nbsp;metacell ratio of 4</h3>
<img src="results/section15/metacellratio4.png"
     width="500"
     alt="UMAP — SEACells metacell ratio 4">
<h3>15.3&nbsp;infer trajectories and pseudotime</h3>
<img src="results/section15/trajectorynpsedutime.png"
     width="500"
     alt="UMAP — SEACells metacell ratio 4">