<h2>30. Week of Jan 30</h2>

<h3>30.1 Meeting Objectives & Tasks</h3>
<div class="summary-box">
    <ul>
        <li>Check if RNA and atac data from the same single cell if so apply WNN</li>
        <li>Run both imputation on RNAPII and atac data</li>
        <li>Compare the predicted label from reference map with Dereck’s data label</li>
    </ul>
</div>

30.2 Check if RNA and atac data from the same single cell if so apply WNN
They do have the same barcode in the same single cell, so we can apply WNN to integrate the RNA and atac data.

<figure>
    <figcaption><strong>WNN integration of RNA and atac data:</strong></figcaption>
    <img src="results/section30/WNNintegrationofRNAandatacdata.png" style="width:600px;" alt="WNN integration of RNA and atac data">
</figure>
