<h2>7. Implement SEACell package for scEP data </h2>
<h3>7.1 Summary of SEACell and its pipeline</h3>
<p>
    SEACell is a python script to solve single Cell
    sparsity problem by integrating single cells to metacell.
    The input file for the SEACell script a cell-peak matrix.
    (In the SEACells paper, the cell-peak matrix was generated 
    by ArchR.)
    The output file is metacell that grouped by the SEACell model
</p>

<p>
    Please refer the 
    <a
        href="https://github.com/dpeerlab/SEACells"
        target="_blank"
        rel="noopener noreferrer"
        >SEACell GitHub repo
    </a>
    page to install the package.
</p>