<h2>24. Week of Nov 5</h2>

<h3>24.1 Meeting Objectives & Tasks</h3>
<div class="summary-box">
    <ul>
        <li>Send an email to Dereck asking for annotation details.</li>
        <li>Use the Harmony embedding (subset from Dereck's data) for aggregation.</li>
    </ul>
</div>

<h3>24.2 Annotation Details</h3>
<p>
    Merge clusters based on marker gene changes and prior biological knowledge.
</p>

<h3>24.3 Obtain the Data and Set Up the Conda Environment for the Pipeline</h3>
<ul>
    <li>Successfully downloaded the data from AWS.</li>
    <li>Created the corresponding conda environment for the ArchR package.</li>
    <li>Ran and debugged the code to export the Harmony embedding.</li>
    <li>Encountered “out of disk space” issues.</li>
</ul>

<h3>24.4 Export the Metadata from RNAPII</h3>
<ul>
    <li>Exported the Harmony embedding (subset from Dereck's data) for aggregation.</li>
    <li>Checked the subset UMAP plot.</li>
</ul>
