<h2>11.&nbsp;Week&nbsp;of&nbsp;16&nbsp;July</h2>

<!-- 10.1 ▸ Weekly tasks -->
<h3>10.1&nbsp;Overview of weekly tasks</h3>
<ul>
  <li>Integrate RNAPII (CM_0) across modalities</li>
  <ul>
    <li>For each cell‑type/timepoint, collect the three K4 files (CUTAC, split1, split2) and the three K27 files.</li>
    <li>Sum their tile matrices to produce a single RNAPII matrix per modality.</li>
  </ul>  
<li>Run SEACell</li>
  <ul>
    <li>Apply the SEACell model to each integrated RNAPII dataset (by cell‑type/timepoint) to generate metacells.</li>  
  </ul>
<li>Assemble multi‑modal metacells</li>
  <ul>
    <li>For each RNAPII barcode, extract the corresponding K4 and K27 single‑cell data.</li>

  </ul>
<li>Repeat for all cell types & time points</li>
<li>UMAP visualization & separability checks</li>
    <li>RNAPII only: Are cell types/timepoints separable?</li>
    <li>K4 only: Assess clustering.</li>
    <li>K27 only: Assess clustering.</li>
    <li>K4+K27: Integrate by concatenating region matrices or using Seurat’s Weighted Nearest Neighbors; evaluate separability.</li>
</ul>

<h3>10.2&nbsp;Integration of RNAPII modalities</h3>
<p> As we define tile size as 50K, the dimension of the tile matrix contains 39057 cells and 60630 vars</p>
<p> The following image is the data after removing the outliers</p>
<img src="results/section11/multitag_RNAPII_Noaggregation_umap_normalize_total_ntop20000nneighbor30_mindist0.1.png"
     width="500"
     alt="K4 UMAP (tile 10 K)">
<p> The following image is the data after aggregating the tile matrix</p>
<p> The data dimension is reduced to 3947 cells and 60630 vars (as the metacell ratio is 10)</p>
<img src="results/section11/multitag_RNAPII_Aggregation_umap_normalize_total_ntop20000nneighbor30_mindist0.1.png"
     width="500"
     alt="K4 UMAP (tile 10 K)">