<h2>12.&nbsp;Week&nbsp;of&nbsp;23&nbsp;July</h2>
<h3>12.1&nbsp;Overview of weekly tasks</h3>
Apply Seurat’s Weighted Nearest Neighbors (WNN) in R and compare the results to the Python version.
Use WNN to integrate all three features (K4, K27, and RNAPII).
Rerun with a smaller metacell ratio (5) and note any metacells comprised solely of K4 or K27.
From the WNN integration results, zoom in on one cell type and timepoint to identify potential subclusters.
Check on the little tail or separated clusters of single-cell K4/K27 UMAP.
<h3>12.2&nbsp;Seurat WNN integration</h3>
Integration of K4 and K27.
<img src="results/section12/wnnK4K27.png"
     width="500"
     alt="RNAPII UMAP without aggregation">

Integration of K4, K27 and RNAPII.
<img src="results/section12/wnnK4K27RNAPII.png"
     width="500"
     alt="RNAPII UMAP without aggregation">
<h3>12.3&nbsp;Running a smaller metacell ratio (5)</h3>
RNAPII metacell 3144 x 60630
<img src="results/section12/RNAPIImetaratio5.png"
     width="500"
     alt="RNAPII UMAP without aggregation">


<h3>12.4&nbsp;Zooming in on one cell type and timepoint with wnn integration data (K4, K27, RNAPII)</h3>
CM_0
<img src="results/section12/wnn.umap_CM_0.png"
     width="500"
     alt="CM_0 UMAP with WNN integration">
CM_1
<img src="results/section12/wnn.umap_CM_1.png"
     width="500"
     alt="CM_1 UMAP with WNN integration">
CM_2
<img src="results/section12/wnn.umap_CM_2.png"
     width="500"
     alt="CM_2 UMAP with WNN integration">
CM_3
<img src="results/section12/wnn.umap_CM_3.png"
     width="500"
     alt="CM_3 UMAP with WNN integration">
EM_0
<img src="results/section12/wnn.umap_EM_0.png"
     width="500"
     alt="EM_0 UMAP with WNN integration">        
EM_1
<img src="results/section12/wnn.umap_EM_1.png"
     width="500"
     alt="EM_1 UMAP with WNN integration">
EM_2
<img src="results/section12/wnn.umap_EM_2.png"
     width="500"
     alt="EM_2 UMAP with WNN integration">
EM_3
<img src="results/section12/wnn.umap_EM_3.png"         
     width="500"
     alt="EM_3 UMAP with WNN integration">        
